# Dependencies
node_modules/

# Logs (This hides those .run-auth.log files!)
*.log
.run-*.log

# Build outputs
dist/
build/

# OS files
.DS_Store

# envs variables
.env
.env.*
services/*/.env

*.tfstate
*.tfstate.backup
.terraform/
*.tfvars
secrets.auto.tfvars

secrets.yaml

